---
layout: default
---

<div class="home">

  <div class="spicy-hero--homepage">
    <div class="spicy-posts--featured">
      {% for post in site.categories.featured %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="spicy-box spicy-box--post">
          <span class="spicy-box__background">
            <span class="spicy-box__foreground">
              <h2 class="spicy-post__title--featured">
                {{ post.title }}
              </h2>
              <span class="sipcy-post__excerpt">{{ post.excerpt }}</span>
            </span>
          </span>
        </a>
      {% endfor %}
    </div>
    <div class="spicy-posts--main">
      {% for post in site.categories.main %}
      <div class="spicy-post--main">
        <div class="spicy-post--main__image">
          <!-- GIF from Tony Babel on Dribbble -->
          <!-- <img src="/images/processed-food.jpg" alt=""> -->
        </div>
        <div class="spicy-post--main__content">
          <h2 class="spicy-post__title--main">
            {{ post.title }}
          </h2>
          <span class="spicy-post__excerpt--main">{{ post.excerpt }}</span>
          <a class="spicy-box spicy-box--button">
            <span class="spicy-box__background">
              <span class="spicy-box__foreground">
                Read More
              </span>
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="spicy-box--image-only margin-left--minus-large">
  </div>
  <div class="spicy-box spicy-box--post">

  </div>

</div>
