
//
// FONT FACES
//

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-SemiBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-ExtraBold.otf');
  font-weight: 900;
}
