.spicy-nav {
  width: 100%;

  .spicy-nav__hamburger {
      display: none;
  }

  @include media-query($mobile) {
    position: absolute;
    top: 9px;
    right: $spacing-default / 2;
    background-color: $white;
    border: 1px solid $gray-light;
    border-radius: 5px;
    text-align: right;

    .spicy-nav__hamburger {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $gray-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
  }
}

.spicy-nav__logo {
  text-transform: uppercase;
  font-size: $font-size-xx-large;
  display: inline-block;
  width: 50%;

  a {
    text-decoration: none;
    color: $gray-darker;

    &:hover {
      cursor: pointer;
      opacity: 0.95;
    }
  }
}

.spicy-nav__links {
  display: block;
  width: 50%;
  float: right;
  padding-top: $spacing-x-small;
}

.spicy-nav__items {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;

  .spicy-nav__item {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: $font-size-medium;
    font-weight: 600;
    opacity: 1;
    color: $gray-darker;

    a:hover {
      cursor: pointer;
      opacity: 0.95;
    }

  }
}
