<header class="spicy-header">

  <nav class="spicy-nav">
    <h1 class="spicy-nav__logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <a href="#" class="spicy-nav__hamburger">
      <svg viewBox="0 0 18 15">
        <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
        <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
        <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
      </svg>
    </a>

    <!-- <div class="spicy-nav__items trigger">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </div> -->
    <div class="spicy-nav__links">
      <ul class="spicy-nav__items">
        <li class="spicy-nav__item"><a>Articles</a></li>
        <li class="spicy-nav__item"><a>Resources</a></li>
        <li class="spicy-nav__item"><a>About</a></li>
        <li class="spicy-nav__item"><a>Newsletter</a></li>
        <!-- <li class="spicy-nav__item"><a>Donate</a></li> -->
      </ul>
    </div>
  </nav>

</header>
