<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="spicy-wrap">
      {{ content }}
    </div>

    <!-- {% include footer.html %} -->

  </body>

</html>
